<mat-sidenav-container class="  ">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/inicio">
        <i class="material-icons">
          home
        </i>
        Início
      </a>
      <a mat-list-item routerLink="/cliente">
        <i class="material-icons">
          person
        </i>
        Cliente
      </a>
      <a mat-list-item routerLink="/locker">
        <i class="material-icons">
          home_work
        </i>
        Lockers
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
